<h1>
    Threads/<%= title %>
</h1>
        
<section id="feed-posts">
    <h4>
        Posts
    </h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="How are you feeling?"></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <h4><%= post.user.name %></h4>
                    <p>    
                        <%= post.content %>
                    </p>
                </li>
            <% } %>
        </ul>
    </div>
</section>