footer
{
    display: flex;
    flex-wrap: wrap;
    color:white;
    background-image: linear-gradient(to right,#434343, #000000);
    div
    {
        margin:10px;
    }
    ul
    {
        margin:0;
        list-style: none;
        li
        {
            margin:10px;
            a
            {
                text-decoration: none;
                color:white;
            }
        }
    }


}